@{
    ViewData["Title"] = "Inicio de sesión";
}
<div class="container">
    <div class="row mb-4 ">
        <div class="col">
            <h1 class="display-4 text-center">Cuenta</h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="display-6">Historial de pedidos</h4>
        </div>
    </div>
</div>
